{% extends "layout.html" %}

{% block title %}Channels{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/channels.js') }}"></script>
{% endblock %}

{% block body %}
<div class="card-header">
    <h5>Channels</h5>
</div>

<div class="card-body">
    
    <div class="list-group">
        <label for="new">Existing channels</label>
        {% for channel in channels %}
        <a type="button" class="list-group-item list-group-item-action channel-link" href="{{ url_for('channel', channel=channel) }}" data-channel="{{ channel }}">{{ channel }}</a>
        {% endfor %}
        
        <form action="{{ url_for('createChannel') }}" method="post">
            <div class="form-group mb-0 pt-4">
                <label for="new">Create new channel</label>
                <div class="input-group w-100">
                    <input id="new" name="channel" class="form-control" placeholder="Channel name">
                    <span class="input-group-append"><button class="btn btn-info" type="submit" id="submit-channel-name"><i class="fa fa-plus-square-o" aria-hidden="true"></i></button></span>
                </div>
            </div>
        </form>
    </div>
  
</div>
{% endblock %}
